<h3>Уважаемый(-ая) <%= @order.name %><h3>
<p>Администрация магазина Shop Online благодарит Вас за недавний заказ.</p>

<p>Вы заказали следующий товар(-ы):</p>
<table>
   <tr><th colspan="2">Кол-во</th><th>Описание</th></tr>
   <%= render @order.line_items -%>
</table>
<p>Когда Ваш заказ будет отправлен, мы пришлем Вам сообщение.</p>